.grid_item {
  cursor: pointer;
  /* height: 50px;
  width: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #1976d2;
  border-right: 2px solid #1976d2;
}

.box {
  user-select: none;
}
