.grid_item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #1976d2;
  border-right: 2px solid #1976d2;
}

.box {
  user-select: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
