* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 30px;
}
